@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.container {
  font-family: "Roboto", sans-serif;
  width: 60%;
  margin: 0 auto;
  margin-top: -50px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.input {
  border: 1px solid white;
  border-radius: 5px;
  width: 30%;
  height: 1.8rem;
  font-size: 16px;
}

.entry {
  border: 1px solid white;
  border-radius: 5px;
  height: 5rem;
  font-size: 15px;
}

.btn {
  margin-top: 50px;
  margin-bottom: 80px;
  width: 140px;
  height: 45px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #88bbff;
  box-shadow: 0px 15px 20px rgba(82, 160, 248, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.Title {
  font-size: 80px;
  margin-bottom: -30px;
}

.Description {
  font-size: 30px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 400px;
  width: 600px;
}
.card-body {
  height: 80%;
  flex-flow: wrap;
  overflow: hidden;
  overflow-y: scroll;
}

.card {
  flex: 0 1 48%;
  display: flex;
}

.card-inner {
  display: flex;
  flex-direction: column;
}

.card {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 2%;
  height: 300px;
}

.card-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
}

.card-footer {
  margin-top: auto;
  color: red;
  border-radius: 4px;
  margin-top: 20px;
  padding: 5px;
  margin-bottom: -15px;
}
